﻿@using System.Web.Optimization
@model AdminPanel.Models.LedgerModel
@{
    ViewBag.Title = "LedgerList";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
@section header{
    @Styles.Render("~/autocomplete/css")
    @Styles.Render("~/select2/css")
    @Styles.Render("~/date/css")
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #2A3F54;
            color: #fff;
            border-right: 1px solid #ccc;
        }

        .first-col {
            width: 140px;
            min-width: 140px;
            max-width: 140px;
            left: 0px;
        }
    </style>
}
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ledger Report</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" id="ResetFilter" class="btn btn-danger btn-sm">Reset Filter</button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                @using (Html.BeginForm("LedgerList", "Account", FormMethod.Post))
                {
                    <div class="col-md-2 col-sm-12  form-group">
                        @Html.TextBoxFor(p => p.FilterFromDate, new { @class = "form-control commoncss  docs-date", placeholder = "From Date", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-sm-12  form-group">
                        @Html.TextBoxFor(p => p.FilterToDate, new { @class = "form-control commoncss  docs-date", placeholder = "To Date", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-sm-12  form-group">
                        @Html.TextBoxFor(p => p.FilterAgencyName, new { @class = "form-control commoncss agencysearch", placeholder = "Agency Namd or Agency Id" })
                        <i class="fa fa-spinner faspinpositon fa-pulse agencyspin" style="position: absolute;right: 10px;font-size: 20px;top: 10px;color: red;display:none;"></i>
                        @Html.HiddenFor(p => p.FilterAgencyId, new { @class = "hdnagencyid" })
                    </div>
                    <div class="col-md-2 col-sm-12  form-group">
                        @Html.DropDownListFor(m => m.FilterBookingType, Model.BookingTypeList, "Select Booking Type", new { @class = "form-control commoncss" })@*, @onchange = "FillState()"*@
                    </div>
                    <div class="col-md-2 col-sm-12  form-group">
                        @Html.DropDownListFor(m => m.FilterTransType, Model.TransTypeList, "Select Trans Type", new { @class = "form-control commoncss" })@*, @onchange = "FillState()"*@
                    </div>
                    <div class="col-md-2 col-sm-12  form-group">
                        <button type="submit" class="btn btn-success btn-xs" id="btnSearch" onclick="return SearchLedDetl();">Search</button>
                        <button type="button" class="btn btn-info">Export</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="x_panel" style="padding: 0px!important;">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12" style="padding: 5px;">
                    <div class="col-md-3"><i class="fa fa-calculator" aria-hidden="true"></i> Total Ticket Count : @Model.TotalCount</div>
                    <div class="col-md-3">
                        Total Ticket Sale Amount : <i class="fa fa-inr" aria-hidden="true"></i> @(Model.TotalCredit+ Model.TotalDebit)
                    </div>
                    <div class="col-md-3">Total Credit Amount : <i class="fa fa-inr" aria-hidden="true"></i> @Model.TotalCredit</div>
                    <div class="col-md-3">Total Debit Amount : <i class="fa fa-inr" aria-hidden="true"></i> @Model.TotalDebit</div>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive text-nowrap tablescroll">
                        <table class="table" data-toggle="table" id="IncentiveTable">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th class="sticky-col first-col">Order ID</th>
                                    <th>Agency Id</th>
                                    <th>User Id</th>
                                    <th>Agency Name</th>
                                    <th>Sector</th>
                                    <th>Pax Name</th>
                                    <th>Pnr</th>
                                    <th>Aircode</th>
                                    <th>TicketNo</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Balance</th>
                                    <th>Booking Type</th>
                                    <th>Date</th>
                                    <th>Remark</th>
                                    <th>Due Amount</th>
                                    <th>Credit Limit</th>
                                </tr>
                            </thead>
                            <tbody id="tbodycomm">
                                @if (Model.LedgerList != null && Model.LedgerList.Count > 0)
                                {
                                    foreach (var item in Model.LedgerList)
                                    {
                                        <tr>
                                            <td class="sticky-col first-col" style="background-color: #fff;"><a href="#" target="_blank" style="color: #fff; background-color: #17a2b8; border-color: #17a2b8; padding: 6px; border-radius: 2px;">@item.InvoiceNo</a></td>
                                            <td>@item.AgencyID</td>
                                            <td>@item.UserId</td>
                                            <td>@item.AgencyName</td>
                                            <td>@item.Sector</td>
                                            <td>@item.PaxName</td>
                                            <td>@item.PnrNo</td>
                                            <td>@item.Aircode</td>
                                            <td>@item.TicketNo</td>
                                            <td>@item.Debit</td>
                                            <td>@item.Credit</td>
                                            <td>@item.Aval_Balance</td>
                                            <td>@item.BookingType</td>
                                            <td>@item.CreatedDate</td>
                                            <td>@item.Remark</td>
                                            <td>@item.DueAmount</td>
                                            <td>@item.CreditLimit</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="17" class="text-center text-danger">No result found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    @Scripts.Render("~/autocomplete/js")
    @Scripts.Render("~/select2/js")
    <script src="~/Content/js/custom/AgencySearch.js"></script>
    <script>
        //dropdown with search box
        $("#DLLBookingType").select2();
        $("#DLLTransType").select2();

        $("#ResetFilter").click(function () {
            $("#FilterFromDate").val(null);
            $("#FilterToDate").val(null);
            $("#FilterAgencyName").val(null);
            $("#FilterAgencyId").val(null);
            $("#FilterBookingType").val(null);
            $("#FilterTransType").val(null);
        });

        SearchLedDetl = () => {
            $("#btnSearch").html("<i class='fa fa-pulse fa-spinner'></i>");
        }
    </script>
    @Scripts.Render("~/date/js")
}