﻿@using System.Web.Optimization
@model AdminPanel.Models.LedgerModel
@{
    ViewBag.Title = "UnflowReport";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

@section header{
    @Styles.Render("~/autocomplete/css")
    @Styles.Render("~/select2/css")
    @Styles.Render("~/date/css")
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #2A3F54;
            color: #fff;
            border-right: 1px solid #ccc;
        }

        .first-col {
            width: 140px;
            min-width: 140px;
            max-width: 140px;
            left: 0px;
        }

        .table td, .table th {
            padding: 6px;
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 5px;
        }


        ::-webkit-scrollbar-track {
            background-color: #fff;
            border-left: 1px solid #ccc;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #969191;
        }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #969191;
            }
    </style>
}
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Unflow Report</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" id="ResetFilter" class="btn btn-danger btn-sm">Reset Filter</button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12">
                @using (Html.BeginForm("UnflowReport", "Account", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterFromDate, new { @class = "form-control commoncss  docs-date", placeholder = "From Date", autocomplete = "off" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterToDate, new { @class = "form-control commoncss  docs-date", placeholder = "To Date", autocomplete = "off" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterDepartfrom, new { @class = "form-control commoncss  docs-date", placeholder = "Depart from", autocomplete = "off" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterDepartTo, new { @class = "form-control commoncss  docs-date", placeholder = "Depart To", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterPNR, new { @class = "form-control ", placeholder = "PNR " })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterOderId, new { @class = "form-control", placeholder = "Order ID" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterPaxName, new { @class = "form-control", placeholder = "Pax Name" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterTicketNo, new { @class = "form-control", placeholder = "Ticket No" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterAirline, new { @class = "form-control", placeholder = "Airline" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterAgencyName, new { @class = "form-control commoncss agencysearch", placeholder = "Agency Namd or Agency Id" })
                            <i class="fa fa-spinner faspinpositon fa-pulse agencyspin" style="position: absolute;right: 10px;font-size: 20px;top: 10px;color: red;display:none;"></i>
                            @Html.HiddenFor(p => p.FilterAgencyId, new { @class = "hdnagencyid" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.TextBoxFor(p => p.FilterSalesPerson, new { @class = "form-control", placeholder = "Sales person name" })
                        </div>
                        <div class="col-md-3 col-sm-12  form-group">
                            @Html.DropDownListFor(p => p.FilterTrip, new List<SelectListItem>()
                             { new SelectListItem { Text = "Select trip", Value = "" },new SelectListItem { Text = "Domestic", Value = "D" }, new SelectListItem { Text = "International", Value = "I" } }, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12  form-group">
                            <button type="submit" class="btn btn-success btn-xs" id="btnSearch" onclick="return SearchLedDetl();">Search</button>
                            <button type="button" class="btn btn-info">Export</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="x_panel" style="padding: 0px!important;">
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="wrapper">
                        <table class="table" data-toggle="table">
                            <thead style="color: #131313;background: #ececec;">
                                <tr>
                                    <th class="sticky-col first-col">TRANSACTION ID</th>
                                    <th>AGENCY ID</th>
                                    <th>AGENCY NAME</th>
                                    <th>GDSPNR</th>
                                    <th>AIRLINE PNR</th>
                                    <th>SECTOR</th>
                                    <th>AIRLINE CODE</th>
                                    <th>PASSENGER NAME</th>
                                    <th>PAX TYPE</th>
                                    <th>FLIGHT NUMBER</th>
                                    <th>TICKET NUMBER</th>
                                    <th>BASE FARE</th>
                                    <th>YQ</th>
                                    <th>TAX</th>
                                    <th>SERVICE TAX</th>
                                    <th>TRAN FEE</th>
                                    <th>MGT FEE</th>
                                    <th>TOTAL COMMSION</th>
                                    <th>TDS</th>
                                    <th>GROSS FARE</th>
                                    <th>INVOICE TOTAL</th>
                                    <th>BOOKING DATE</th>
                                    <th>PAYMENT MODE</th>
                                </tr>
                            </thead>
                            <tbody id="tbodycomm">
                                @if (Model.LedgerList != null && Model.LedgerList.Count > 0)
                                {
                                    foreach (var item in Model.LedgerList)
                                    {
                                        <tr>
                                            <td class="sticky-col first-col" style="background-color: #fff;"><a href="#" target="_blank" style="color: #fff; background-color: #17a2b8; border-color: #17a2b8; padding: 6px; border-radius: 2px;">@item.OrderId</a></td>
                                            <td>@item.AgencyID</td>
                                            <td>@item.AgencyName</td>
                                            <td>@item.PnrNo</td>
                                            <td>@item.AirlinePnr</td>
                                            <td>@item.Sector</td>
                                            <td>@item.Aircode</td>
                                            <td>@item.PassengerName</td>
                                            <td>@item.Paxtype</td>
                                            <td>@item.FlightNumber</td>
                                            <td>@item.TicketNo</td>
                                            <td>@item.basefare</td>
                                            <td>@item.YQ</td>
                                            <td>@item.Tax</td>
                                            <td>@item.servicetax</td>
                                            <td>@item.TransactionFee</td>
                                            <td>@item.MgtFee</td>
                                            <td>@item.Commsion</td>
                                            <td>@item.Tds</td>
                                            <td>@item.GrossFare</td>
                                            <td>@item.InvoiceTotal</td>
                                            <td>@item.BookingDate</td>
                                            <td>@item.PaymentMode</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="23" class="text-left text-danger">No result found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    @Scripts.Render("~/autocomplete/js")
    <script src="~/Content/js/custom/AgencySearch.js"></script>
    <script>
        $("#ResetFilter").click(function () {
            $("#FilterFromDate").val(null);
            $("#FilterToDate").val(null);
            $("#FilterAgencyName").val(null);
            $("#FilterAgencyId").val(null);
            $("#FilterBookingType").val(null);
            $("#FilterTransType").val(null);
        });

        SearchLedDetl = () => {
            $("#btnSearch").html("<i class='fa fa-pulse fa-spinner'></i>");
        }
    </script>
    @Scripts.Render("~/date/js")
}