﻿@using AdminPanel.Models
@using AdminPanel.Service

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ConfigFile.WebsiteName</title>
    @System.Web.Optimization.Styles.Render("~/master/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        .profile_info {
            width: 100%;
            float: initial;
            background: #fff;
        }
    </style>
    @RenderSection("header", false)
</head>
<body class="nav-md">
    @{
        ExecuRegister lu = new ExecuRegister();
        if (!AdministrationService.IsExecutiveLogin(ref lu))
        {
            if (AdministrationService.LogoutExecutive())
            {
                Response.Redirect(ConfigFile.WebsiteUrl);
            }
        }
        else
        {
            <div class="container body">
                <div class="main_container">
                    <div class="col-md-3 left_col menu_fixed">
                        <div class="left_col scroll-view">
                            <!-- menu profile quick info -->
                            <div class="profile clearfix text-center">
                                <div class="profile_info">
                                    <img src="@ConfigFile.WebsiteLogo" style="width: 100%;" />
                                </div>
                            </div>
                            <!-- /menu profile quick info -->
                            @Html.Action("Menu", "Home", lu)
                            <!-- /menu footer buttons -->
                            @*<div class="sidebar-footer hidden-small">
                                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                    </a>
                                </div>*@
                            <!-- /menu footer buttons -->
                        </div>
                    </div>
                    <!-- top navigation -->
                    <div class="top_nav">
                        <div class="nav_menu">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <nav class="nav navbar-nav">
                                <ul class=" navbar-right">
                                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                                        <a href="/profile/agency-list" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                            <img src="images/img.jpg" alt="">John Doe
                                        </a>
                                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                            @*<a class="dropdown-item" href="javascript:;"> Profile</a>
                                                <a class="dropdown-item" href="javascript:;">
                                                    <span class="badge bg-red pull-right">50%</span>
                                                    <span>Settings</span>
                                                </a>
                                                <a class="dropdown-item" href="javascript:;">Help</a>*@
                                            <span class="dropdown-item" style="cursor:pointer;" onclick="Logout();"><i class="fa fa-sign-out pull-right"></i> Log Out</span>
                                        </div>
                                    </li>
                                    <li role="presentation" class="nav-item dropdown open">
                                        <a href="javascript:;" class="dropdown-toggle info-number divclsnotify" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bell-o"></i>
                                            <span class="badge bg-green" id="NotyCount">0</span>
                                        </a>
                                        <ul class="dropdown-menu list-unstyled msg_list" id="Notification" role="menu" aria-labelledby="navbarDropdown1">
                                            <li class="nav-item" style="text-align: center;color: red;"><span>Notification not available!</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="AudioSection" style="margin-left:20%;display:none;">
                        <audio id="MyAudioElement">
                            <source src="~/Content/soundmp3/Fasten-seatbelt-sound-effect.mp3" type="audio/mpeg">
                        </audio>
                    </div>
                    <!-- /top navigation -->
                    <div class="right_col" role="main">
                        @RenderBody()
                    </div>
                    <!-- footer content -->
                    <footer>
                        <div class="pull-right">
                            Amlin Technology
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                    <!-- /footer content -->
                </div>
            </div>
        }
    }
    @System.Web.Optimization.Scripts.Render("~/master/js")
    @RenderSection("footer", false)
</body>
</html>

