﻿@model IEnumerable<AdminPanel.Models.Executive>
@{
    ViewBag.Title = "Executive";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="col-sm-12">
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h5>Add Executive</h5>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                @using (Html.BeginForm())
                {
                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <input type="text" id="txtEmail" name="email_id" placeholder="Email" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <input type="text" id="txtUser_id" name="user_id" placeholder="User Id" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <input type="password" id="txtPassword" name="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <input type="text" id="txtName" name="name" placeholder="Name" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <input type="text" id="txtMobile" onkeyup="isNumberOnlyKeyNoDot(event);" name="mobile_no" placeholder="Mobile" class="form-control">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <select id="ddlRole" name="role_id" required class="form-control">
                                @Html.Raw(ViewBag.RoleList)
                            </select>
                            <input type="text" id="txtRole" name="role" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-validation">
                            <select id="ddlBranch" name="BranchId" required class="form-control">
                                @Html.Raw(ViewBag.BranchList)
                            </select>
                            <input type="text" id="txtBranch" name="Branch" style="display:none;">
                        </div>
                    </div>
                    <div class="col-sm-3" style="padding: 0px;">
                        <div class="col-sm-6">
                            <input type="submit" value="Submit" style="width: 120px;" id="submitBtn" class="btn btn-success">
                        </div>
                        <div class="col-sm-6">
                            <input type="reset" value="Reset" style="width: 120px;" id="resetBtn" class="btn btn-success">
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12" style="background-color: white; margin-top:10px;padding: 0px 10px 5px 10px; box-shadow: 0px 0px 10px 1px #bcbcbc; ">
    <div class="row">

        <div class="col-sm-12">
            <div class="table-responsive text-nowrap">
                <table class="table" data-toggle="table" id="IncentiveTable">
                    <thead>
                        <tr style="background:#f6f6f6;">
                            <th>UserId</th>
                            <th>Password</th>
                            <th>Role Name</th>
                            <th>Role Type</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile No</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr id=@item.id>
                                    <td>@item.user_id</td>
                                    <td><input type="text" id="PasswordData_@item.id" value="@item.password" readonly style="border: none; "></td>
                                    <td id="RoleData_@item.id">@item.role</td>
                                    <td>@item.role_type</td>
                                    <td>@item.name</td>
                                    <td>@item.email_id</td>
                                    <td>@item.mobile_no</td>
                                    <td id="StatusData_@item.id">@item.Status</td>
                                    <td id="Action_@item.id" class="Action" style="cursor:pointer;">
                                        <u style="color:red" onclick="EditExecutive('@item.user_id',@item.id)">Edit</u>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <u style="color:red" onclick="DeleteExecutive('@item.user_id',@item.id)">Delete</u>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr style="text-align:center">
                                <td colspan="9" style="color:red;">No Record Found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th class="sticky-col first-col">UserId</th>
                                        <th>Password</th>
                                        <th>Role Name</th>
                                        <th>Role Type</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile No</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr id=@item.id>
                                                <td>@item.user_id</td>
                                                <td><input type="text" id="PasswordData_@item.id" value="@item.password" readonly style="border: none; "></td>
                                                <td id="RoleData_@item.id">@item.role</td>
                                                <td>@item.role_type</td>
                                                <td>@item.name</td>
                                                <td>@item.email_id</td>
                                                <td>@item.mobile_no</td>
                                                <td id="StatusData_@item.id">@item.Status</td>
                                                <td id="Action_@item.id" class="Action" style="cursor:pointer;">
                                                    <u style="color:red" onclick="EditExecutive('@item.user_id',@item.id)">Edit</u>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <u style="color:red" onclick="DeleteExecutive('@item.user_id',@item.id)">Delete</u>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align:center">
                                            <td colspan="9" style="color:red;">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/custom/common.js"></script>
<script>
    let datacount = 0;
    let roleDdl = '<select id="ddlNewRole">@Html.Raw(ViewBag.RoleList)</select>';
    let statusDdl = '<select id="ddlNewStatus"><option value="true">Active</option><option value="false">Deactive</option></select>';

    $(function () {
        datacount = @Model.Count();
    });
</script>
<script src="~/Content/js/PrivilageSetting/Executive.js"></script>