﻿@model AdminPanel.Models.MenuList

<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard </a></li>
            @if (Model.ExecMenuList != null && Model.ExecMenuList.Count > 0)
            {
                foreach (var menu in Model.ExecMenuList)
                {
                    if (menu.MainMenu)
                    {
                        <li>
                            <a>@*<i class="fa fa-arrow-circle-o-right"></i>*@ @menu.Page_name <span class="fa fa-chevron-down"></span></a>
                            @if (Model.ExecMenuList.Where(p => p.Root_page_id == menu.page_id).ToList().Count > 0)
                            {
                                List<AdminPanel.Models.MenuList> subMenuList = Model.ExecMenuList.Where(p => p.Root_page_id == menu.page_id).OrderBy(o => o.Page_name).ToList();
                                <ul class="nav child_menu">
                                    @foreach (var submenu in subMenuList)
                                    {
                                        <li><a href="@submenu.Page_url">@submenu.Page_name</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>
<!-- /sidebar menu -->