﻿@using System.Web.Optimization
@model AdminPanel.Models.Agency

@{
    ViewBag.Title = "AgencyList";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

@section header{
    @Styles.Render("~/autocomplete/css")
    @Styles.Render("~/date/css")
    <style>
        .wrapper {
            position: relative;
            overflow: auto;
            border: 1px solid black;
            white-space: nowrap;
        }

        .sticky-col {
            position: sticky;
            position: -webkit-sticky;
            background-color: #2A3F54;
            color: #fff;
            border-right: 1px solid #ccc;
        }

        .first-col {
            min-width: auto;
            max-width: auto;
            left: 0px;
        }

        .table td, .table th {
            vertical-align: middle !important;
            text-align: center;
        }

        @@media (min-width: 992px) {
            .modal-lg, .modal-xl {
                max-width: 83.5% !important;
            }
        }

        @@media (min-width: 576px) {
            .modal-dialog {
                margin: 1.75rem 0rem 0rem 15rem !important;
            }
        }
    </style>
}

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Agency Report</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" class="btn btn-primary btn-sm openform" data-toggle="modal" data-target="#btnLedger">
                        Ledger
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary btn-sm openform" data-toggle="modal" data-target="#CreateAgency">
                        Add New Agency
                    </button>
                </li>
                <li>
                    @using (Html.BeginForm("ResetAgencyFilter", "Profile", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-danger btn-sm" id="btnResetFilter">Reset Search</button>
                    }
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("AgencyList", "Profile", FormMethod.Post))
            {
                <div class="row form-group">
                    <div class="col-md-2 col-sm-12 ">
                        @Html.TextBoxFor(p => p.FilterFromDate, new { @class = "form-control commoncss docs-date", placeholder = "Registration From", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-sm-12 ">
                        @Html.TextBoxFor(p => p.FilterToDate, new { @class = "form-control commoncss docs-date", placeholder = "Registration To", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-sm-12 ">
                        @Html.TextBoxFor(p => p.FilterAgencyName, new { @class = "form-control commoncss agencysearch", placeholder = "Agency Namd or Agency Id" })
                        <i class="fa fa-spinner faspinpositon fa-pulse agencyspin" style="position: absolute;right: 10px;font-size: 20px;top: 10px;color: red;display:none;"></i>
                        @Html.HiddenFor(p => p.FilterAgencyId, new { @class = "hdnagencyid" })
                    </div>
                    <div class="col-md-2 col-sm-12 ">
                        @Html.DropDownListFor(x => x.FilterStockistType, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "Select Stockist", Value=""},
                               new SelectListItem() {Text = "All Stockist", Value="ALL"},
                                new SelectListItem() {Text = "Stockist Agent", Value="STAG"}
                               //new SelectListItem() {Text = "HEADOFFICE", Value="HEADOFFICE"}
                           }, new { @class = "form-control commoncss" })
                    </div>
                    <div class="col-md-2 col-sm-12 ">
                        @Html.DropDownListFor(m => m.FilterAgencyType, Model.AgencyTypeList, "Agency Type", new { @class = "form-control commoncss" })
                    </div>


                    <div class="col-md-2 col-sm-12 ">
                        @Html.DropDownListFor(m => m.FilterSalesRef, Model.SalesRefList, "Sales Person", new { @class = "form-control commoncss" })
                    </div>
                </div>
                <div class="row  form-group">
                    <div class="col-md-2 col-sm-12 ">
                        @Html.DropDownListFor(x => x.FilterDueAmount, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "Select OutStanding", Value=""},
                               new SelectListItem() {Text = "DueAmount", Value="DueAmount"},
                           }, new { @class = "form-control commoncss" })
                    </div>
                    <div class="col-md-2 col-sm-12 ">
                        @Html.TextBoxFor(p => p.FilterEmailId, new { @class = "form-control commoncss", placeholder = "Email Id", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-sm-12 ">
                        @Html.TextBoxFor(p => p.FilterMobile, new { @class = "form-control commoncss", placeholder = "Mobile Number", autocomplete = "off" })
                    </div>
                    <div class="col-md-6 col-sm-12 ">
                        <button type="submit" class="btn btn-success btn-xs" id="btnSearch" onclick="return SearchAgencyDetl();">Search</button>
                        <button type="button" class="btn btn-info">Export</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="x_panel" style="padding: 0px!important;">
        <div class="x_content">
            <div class="row">
                @*<div class="col-sm-12" style="padding: 5px;">
                        <div class="col-md-3"><i class="fa fa-calculator" aria-hidden="true"></i> Total Ticket Count : @Model.TotalCount</div>
                        <div class="col-md-3">Total Ticket Sale Amount : <i class="fa fa-inr" aria-hidden="true"></i> @Model.TotalTicketAmount</div>
                        <div class="col-md-3"><i class="fa fa-calculator" aria-hidden="true"></i> Total Ticket Issued : @Model.TotalTicketIssued</div>
                    </div>*@
                <div class="col-sm-12">
                    <div class="table-responsive text-nowrap tablescroll">
                        <table class="table table-bordered" data-toggle="table" id="IncentiveTable">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    @*<th class="sticky-col first-col">Order ID</th>*@
                                    <th class="sticky-col first-col">USER_ID</th>
                                    <th>AGENCY NAME</th>
                                    <th>AGENCY ID</th>
                                    <th>AGENT_TYPE</th>
                                    <th>REGISTRATION_DATE</th>
                                    <th>TRANSACTION_DATE</th>
                                    <th>MOBILE</th>
                                    <th>EMAIL</th>
                                    <th>SALES REF.</th>
                                    <th>STATUS</th>
                                    <th>ONLINE_TKT</th>
                                    <th>DIST</th>
                                    <th>BALANCE</th>
                                    <th>DUEAMOUNT</th>
                                    <th>AGENTLIMIT</th>
                                    <th>NAMEPANCARD</th>
                                    <th>PANNO</th>
                                    <th>IRCTCID</th>
                                </tr>
                            </thead>
                            <tbody id="tbodycomm">
                                @if (Model.AgencyList != null && Model.AgencyList.Count > 0)
                                {
                                    foreach (var item in Model.AgencyList)
                                    {
                                        <tr>
                                            <td class="sticky-col first-col" style="background-color: #fff;">
                                                <a href="javascript:void(0);" id="Agency_@item.User_Id" class="agencydel" style="color: #fff; background-color: #17a2b8; border-color: #17a2b8; padding: 6px; border-radius: 2px;" data-agencyuid="@item.User_Id">@item.User_Id</a>
                                            </td>
                                            <td>@item.Agency_Name</td>
                                            <td>@item.AgencyId</td>
                                            <td>@item.Agent_Type</td>
                                            <td>@item.timestamp_create</td>
                                            <td>@item.Crd_Trns_Date</td>
                                            <td>@item.Mobile</td>
                                            <td>@item.Email</td>
                                            <td>@item.SalesExecID</td>
                                            @if (item.Agent_status.Trim() == "ACTIVE")
                                            {
                                                <td class="text-center"><span class="text-success" title="Active"><i class="fa fa-check-circle fa-2x" aria-hidden="true"></i></span></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><span class="text-danger" title="InActive"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span></td>
                                            }
                                            @if (item.Online_Tkt.Trim() == "ACTIVE")
                                            {
                                                <td class="text-center"><span class="text-success" title="Active"><i class="fa fa-check-circle fa-2x" aria-hidden="true"></i></span></td>
                                            }
                                            else
                                            {
                                                <td class="text-center"><span class="text-danger" title="InActive"><i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></span></td>
                                            }
                                            <td>@item.Distr</td>
                                            <td>@item.Balance</td>
                                            @if (Convert.ToDecimal(item.DueAmount) < 0)
                                            {
                                                <td><span class="text-danger">@item.DueAmount</span></td>
                                            }
                                            else
                                            {
                                                <td>@item.DueAmount</td>
                                            }
                                            <td>@item.AgentLimit</td>
                                            <td>@item.NamePanCard</td>
                                            <td>@item.PanNo</td>
                                            <td>@item.IrctcId</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="17" class="text-center text-danger">No result found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ProfilePartialPage");

@section footer
{
    @Scripts.Render("~/autocomplete/js")
    @Scripts.Render("~/date/js")
    <script src="~/Content/js/custom/agency/profile-agency.js?v=1.4"></script>
    <script src="~/Content/js/custom/AgencySearch.js"></script>
}