﻿@model AdminPanel.Models.Agency
@{
    ViewBag.Title = "EditTDS";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Design </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>

                @using (Html.BeginForm())
                {
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            Agent<span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" readonly value="@Model.Agency_Name" />
                            <input type="text" style="display:none" readonly name="id" value="@Model.Counter" />
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">
                            TDS<span class="required">*</span>
                        </label>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" name="tds" value="@Model.TDS" />
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

