﻿@model IEnumerable<AdminPanel.Models.AgentType>
@{
    ViewBag.Title = "GroupTypeDetails";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Group Type Details</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @using (Html.BeginForm())
                {
                    <div class="item form-group">

                        <div class="col-md-4 col-sm-4 ">
                            <input type="text" id="agentType" name="agentType" required="required" placeholder="Agent Type" class="form-control ">
                        </div>

                        <div class="col-md-4 col-sm-4 ">
                            <input type="text" id="description" name="description" required="required" placeholder="Description" class="form-control ">
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <button type="submit" class="btn btn-success" style="width: 120px;">Submit</button>
                            <button class="btn btn-primary" type="reset" style="width: 120px;">Reset</button>
                        </div>
                    </div>


                }
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>Group Type</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">
                                    @if (Model.Count() > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr id=@item.Counter>
                                                <td>@item.GroupType</td>
                                                <td>@item.Text</td>
                                                <td>
                                                    <span class="badge badge-danger" style="cursor: pointer; font-size: 10px;"><a href="~/Register/UpdateGroupTypeDetails?actionType=edit&userType=@item.GroupType&desc=@item.Text" style="color: white;"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Edit</a></span>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span class="badge badge-danger" style="cursor: pointer; font-size: 10px;"><a href="~/Register/UpdateGroupTypeDetails?actionType=delete&userType=@item.GroupType" style="color: white;"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Delete</a></span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr style="text-align:center">
                                            <td colspan="3" style="color:red;">No Record Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

