﻿@*@model IEnumerable<AdminPanel.Models.FlightSettingModel.FareTypeMaster>*@
@{
    ViewBag.Title = "AgencyCreditAndDebit";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Agency Credit and Debit</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @using (Html.BeginForm())
                {
                    <div class="item form-group col-md-3 col-sm-3">
                        <div class="col-md-12 col-sm-12 ">
                            <select name="agencyId" required class="form-control">
                                @*<option value="volvo">Volvo</option>*@
                                @Html.Raw(ViewBag.AgentList)
                            </select>
                        </div>
                    </div>

                    <div class="item form-group col-md-3 col-sm-3 ">
                        <div class="col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-success pull-left" style="width:120px;">Submit</button>
                            <button type="reset" class="btn btn-primary pull-right" style="width:120px;">Reset</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th>Sr.No</th>
                                        <th>Debit Note</th>
                                        <th>Credit Note</th>
                                        <th>Agency Name</th>
                                        <th>User_Id</th>
                                        <th>AgencyId</th>
                                        <th>Balance</th>
                                        <th>Due_Amount</th>
                                        <th>CreditLimit</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Sales Agent</th>
                                        <th>Transaction Date</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">
                                    @*@if (Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.FareType</td>
                                                    <td>@item.DisplayName</td>
                                                    <td>@item.Remark</td>
                                                    <td>@item.UpdatedDate</td>
                                                    <td>@item.UpdatedBy</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr style="text-align:center">
                                                <td colspan="5" style="color:red;">No Record Found</td>
                                            </tr>
                                        }*@
                                    <tr style="text-align:center">
                                        <td colspan="5" style="color:red;">No Record Found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
