﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Design </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
               <audio src="~/Content/soundmp3/Fasten-seatbelt-sound-effect.mp3" autoplay></audio>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        First Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="first-name" required="required" class="form-control ">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                        Last Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="last-name" name="last-name" required="required" class="form-control">
                    </div>
                </div>
                <div class="item form-group">
                    <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input id="middle-name" class="form-control" type="text" name="middle-name">
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                    <div class="col-md-6 col-sm-6 ">
                        <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="gender" value="male" class="join-btn" data-parsley-multiple="gender"> &nbsp; Male &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                <input type="radio" name="gender" value="female" class="join-btn" data-parsley-multiple="gender"> Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Start list*@
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel" style="padding: 0px!important;">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive text-nowrap tablescroll">
                            <table class="table" data-toggle="table" id="IncentiveTable">
                                <thead>
                                    <tr style="background:#f6f6f6;">
                                        <th class="sticky-col first-col">Order ID</th>
                                        <th>Agency Id</th>
                                        <th>User Id</th>
                                        <th>Agency Name</th>
                                        <th>Sector</th>
                                        <th>Pax Name</th>
                                        <th>Pnr</th>
                                        <th>Aircode</th>
                                        <th>TicketNo</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Balance</th>
                                        <th>Booking Type</th>
                                        <th>Date</th>
                                        <th>Remark</th>
                                        <th>Due Amount</th>
                                        <th>Credit Limit</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodycomm">
                                    <tr>
                                        <td class="sticky-col first-col">TP21090822092172</td>
                                        <td>B2B001</td>
                                        <td>tripforo</td>
                                        <td></td>
                                        <td>CCU:BOM</td>
                                        <td>Mr Kamrul hoda Khan</td>
                                        <td>XCQ5WZ</td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>3900.00</td>
                                        <td>11895229.0000</td>
                                        <td>Amount Credit to Your Account from fixed departure</td>
                                        <td>9/8/2021 10:09:53 PM</td>
                                        <td>Successfully added Refno=REF55374764</td>
                                        <td>0.0000</td>
                                        <td>50.0000</td>
                                    </tr>
                                    <tr>
                                        <td class="sticky-col first-col">TP21090822092172</td>
                                        <td>TFO0000242</td>
                                        <td>9372732306</td>
                                        <td>multilink online services pvt</td>
                                        <td>CCU:BOM</td>
                                        <td>Mr Kamrul hoda Khan</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>3900.00</td>
                                        <td>0.00</td>
                                        <td>-1563750.0000</td>
                                        <td>Domestic Flight Booking</td>
                                        <td>9/8/2021 10:09:53 PM</td>
                                        <td></td>
                                        <td>-1563750.0000</td>
                                        <td>9999999.0000</td>
                                    </tr>
                                    <tr>
                                        <td class="sticky-col first-col">TP21090822064685</td>
                                        <td>TFO0000356</td>
                                        <td>9903318412</td>
                                        <td></td>
                                        <td>CCU:COK</td>
                                        <td>Mr Md chaddam Hossain</td>
                                        <td>FHE2RV</td>
                                        <td></td>
                                        <td></td>
                                        <td>0.00</td>
                                        <td>5300.00</td>
                                        <td>1037222.0000</td>
                                        <td>Amount Credit to Your Account from fixed departure</td>
                                        <td>9/8/2021 10:07:25 PM</td>
                                        <td>Successfully added Refno=REF96544936</td>
                                        <td>0.0000</td>
                                        <td>0.0000</td>
                                    </tr>
                                    <tr>
                                        <td class="sticky-col first-col">TP21090822064685</td>
                                        <td>TFO0000242</td>
                                        <td>9372732306</td>
                                        <td>multilink online services pvt</td>
                                        <td>CCU:COK</td>
                                        <td>Mr Md chaddam Hossain</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>5300.00</td>
                                        <td>0.00</td>
                                        <td>-1559850.0000</td>
                                        <td>Domestic Flight Booking</td>
                                        <td>9/8/2021 10:07:25 PM</td>
                                        <td></td>
                                        <td>-1559850.0000</td>
                                        <td>9999999.0000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*End list*@

<div class="row">

    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Form Wizards <small>Sessions</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <!-- Smart Wizard -->
                <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    Step 1<br />
                                    <small>Step 1 description</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    Step 2<br />
                                    <small>Step 2 description</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    Step 3<br />
                                    <small>Step 3 description</small>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4">
                                <span class="step_no">4</span>
                                <span class="step_descr">
                                    Step 4<br />
                                    <small>Step 4 description</small>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="step-1">
                        <form class="form-horizontal form-label-left">

                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                    First Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="first-name" required="required" class="form-control  ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                    Last Name <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="last-name" name="last-name" required="required" class="form-control ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="middle-name" class="form-control col" type="text" name="middle-name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                            <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                                        </label>
                                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                            <input type="radio" name="gender" value="female" class="join-btn"> Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">
                                    Date Of Birth <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input id="birthday" class="date-picker form-control" required="required" type="text">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div id="step-2">
                        <h2 class="StepTitle">Step 2 Content</h2>
                        <p>
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div id="step-3">
                        <h2 class="StepTitle">Step 3 Content</h2>
                        <p>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div id="step-4">
                        <h2 class="StepTitle">Step 4 Content</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>